/* Block newsletter */
/* line 6, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0;
}
/* line 8, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#columns #newsletter_block_left .form-group .form-control {
  max-width: 222px;
  display: inline-block;
  margin-right: 6px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 8, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #columns #newsletter_block_left .form-group .form-control {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
/* line 18, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px;
}
/* line 23, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#columns #newsletter_block_left .success_inline {
  color: #418B19;
}
/* line 26, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#columns #newsletter_block_left .warning_inline {
  color: #f13340;
}

/* Block newsletter footer */
/* line 32, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left {
  float: left;
  margin: 0;
  text-align: left;
  overflow: hidden;
  padding-right: 0;
}
@media (max-width: 480px) {
  /* line 32, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left {
    text-align: center;
  }
}
/* line 45, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left h4 {
  background: none;
  float: left;
  width: auto;
  padding: 0;
  text-transform: none;
  font: 400 16px/16px "Poppins", Helvetica, sans-serif;
  color: white;
  margin: 0 0 20px;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  border: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 45, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left h4 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  /* line 45, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left h4 {
    float: none;
    padding: 10px;
    margin: 0 0 2px;
  }
}
/* line 65, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left h4:after {
  display: none;
}
@media (max-width: 991px) {
  /* line 65, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left h4:after {
    display: block;
  }
}
/* line 72, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left h4 p {
  float: right;
  font-weight: bold;
  font-family: "Poppins", Helvetica, sans-serif;
  margin: 0;
}
/* line 78, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left h4:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* line 82, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .block_content {
  display: inline-block;
  float: none;
  position: relative;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 82, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .block_content {
    width: 100%;
    padding: 0 10px;
    text-align: left;
  }
}
/* line 94, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .block_content:after {
  bottom: 0;
  color: white;
  font-family: "FontAwesome";
  content: "\f003";
  font-size: 34px;
  height: 21px;
  left: 0;
  margin: auto 0;
  position: absolute;
  top: 0;
  display: none;
}
@media (max-width: 991px) {
  /* line 94, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .block_content:after {
    content: "";
  }
}
/* line 110, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .block_content .ot-desc {
  color: white;
  float: left;
  font: 400 13px/18px "Poppins", Helvetica, sans-serif;
  width: 100%;
  margin: 0 0 25px;
}
@media (max-width: 991px) {
  /* line 110, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .block_content .ot-desc {
    margin: 5px 0 10px;
  }
}
/* line 122, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group {
  margin-bottom: 0;
  position: relative;
  float: left;
  width: 100%;
}
@media (max-width: 991px) {
  /* line 122, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .form-group {
    margin-bottom: 10px;
  }
}
/* line 130, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group .form-control {
  background: none;
  border-bottom: 2px solid white !important;
  border-image: none;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  color: white;
  display: inline-block;
  float: none;
  height: 36px;
  padding: 8px 25px 8px 10px;
  width: 262px;
	font-size: 7pt;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 130, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .form-group .form-control {
    width: 235px;
  }
}
@media (max-width: 991px) {
  /* line 130, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .form-group .form-control {
    max-width: 100%!important;
    width: 99%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 130, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .form-group .form-control {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 130, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .form-group .form-control {
    width: 100%;
  }
}
/* line 156, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group .form-control:focus {
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
}
/* line 160, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group .button-small {
  border: none;
  background:  #494747;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  float: none;
  color: white;
  padding: 9px 12px;
  margin: 0 0 0 -3px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 173, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group .button-small:before {
  background: #333333;
}
/* line 176, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group .button-small span {
  padding: 0;
}
/* line 179, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .form-group .button-small:hover {
  color: white !important;
  background: black;
}
/* line 185, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .warning_inline {
  display: block;
  color: #f13340;
  font-size: 13px;
  line-height: 26px;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 185, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
  #footer #newsletter_block_left .warning_inline {
    display: inline-block;
    position: relative;
    top: -35px;
    margin-bottom: -35px;
    left: 15px;
    clear: none;
  }
}
/* line 200, ../../../sass/modules/blocknewsletter/blocknewsletter.scss */
#footer #newsletter_block_left .newsletter-input {
  max-width: 320px !important;
}
