/* line 3, ../../../sass/modules/blockcontact/blockcontact.scss */
.shop-phone {
  float: left;
  padding: 0 0 0 26px;
  position: relative;
  font-size: 0;
}
/* line 8, ../../../sass/modules/blockcontact/blockcontact.scss */
.shop-phone:before {
  font-family: "FontAwesome";
  content: "\f095 ";
  font-size: 14px;
  left: 13px;
  position: absolute;
  top: 4px;
  transform: rotate(45deg);
  color: #777777;
}
@media (max-width: 480px) {
  /* line 3, ../../../sass/modules/blockcontact/blockcontact.scss */
  .shop-phone {
    display: none;
  }
}
/* line 21, ../../../sass/modules/blockcontact/blockcontact.scss */
.shop-phone .ttcontact-phone {
  background: transparent;
}
/* line 24, ../../../sass/modules/blockcontact/blockcontact.scss */
.shop-phone i {
  font-size: 21px;
  line-height: 21px;
  display: none;
  color: white;
  padding-right: 7px;
}
/* line 31, ../../../sass/modules/blockcontact/blockcontact.scss */
.shop-phone strong {
  font: 400 12px/28px "Poppins", Helvetica, sans-serif;
  color: #777777;
  letter-spacing: 0.4px;
}

/* line 37, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact-link {
  float: right;
  border-left: 1px solid #515151;
  display: none;
}
@media (max-width: 479px) {
  /* line 37, ../../../sass/modules/blockcontact/blockcontact.scss */
  #contact-link {
    text-align: center;
  }
}
/* line 44, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact-link a {
  display: block;
  color: white;
  font-weight: bold;
  padding: 8px 10px 11px 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  line-height: 18px;
}
@media (max-width: 479px) {
  /* line 44, ../../../sass/modules/blockcontact/blockcontact.scss */
  #contact-link a {
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
/* line 57, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact-link a:hover, #contact-link a.active {
  background: #2b2b2b;
}
@media (max-width: 767px) {
  /* line 61, ../../../sass/modules/blockcontact/blockcontact.scss */
  #contact-link.is_logged {
    display: none;
  }
}

@media (max-width: 767px) {
  /* line 67, ../../../sass/modules/blockcontact/blockcontact.scss */
  #contact_block {
    margin-bottom: 20px;
  }
}
/* line 71, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact_block .label {
  display: none;
}
/* line 74, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact_block .block_content {
  color: #888888;
}
/* line 77, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact_block p {
  margin-bottom: 4px;
}
/* line 80, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact_block p.tel {
  font: 400 17px/21px "Poppins", Helvetica, sans-serif;
  color: #111111;
  margin-bottom: 6px;
}
/* line 84, ../../../sass/modules/blockcontact/blockcontact.scss */
#contact_block p.tel i {
  font-size: 25px;
  vertical-align: -2px;
  padding-right: 10px;
}
