/* lnk on detail product page */
/* line 5, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_button, #wishlist_button_nopop {
  color: #666666;
}
/* line 7, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_button:before, #wishlist_button_nopop:before {
  content: "\f004";
  font: 400 14px/18px "FontAwesome";
  width: 12px;
  text-align: center;
  display: inline-block;
  margin: 0 6px 0 0;
}
/* line 15, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_button:hover, #wishlist_button_nopop:hover {
  color: #111111;
}
/* line 17, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_button:hover:before, #wishlist_button_nopop:hover:before {
  color: #111111;
}

/* wishlist block */
/* line 23, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0;
}
/* line 25, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl {
  font-weight: 400;
}
/* line 27, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products.no-products {
  font-weight: 700;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #eaeaea;
}
/* line 31, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products.no-products dt {
  padding: 0;
  border-top: none;
}
/* line 35, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products.no-products dd {
  display: none;
}
/* line 39, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products {
  border-bottom: 1px solid #eaeaea;
}
/* line 41, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products dt {
  padding: 20px 0 0;
  border-top: 1px solid #eaeaea;
}
/* line 45, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products dd {
  padding: 0 0 20px 0;
}
/* line 48, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl.products dt.first_item {
  padding: 0;
  border-top: none;
}
/* line 53, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl dt {
  position: relative;
  padding-right: 0;
}
/* line 57, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block #wishlist_block_list dl dd {
  margin: 0 0 0 24px;
}
/* line 63, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0;
}
/* line 65, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block .lnk .form-group select {
  max-width: 192px;
}
@media (max-width: 767px) {
  /* line 65, ../../../sass/modules/blockwishlist/blockwishlist.scss */
  #wishlist_block .lnk .form-group select {
    width: 192px;
  }
}
/* line 73, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right;
}
/* line 80, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block .ajax_cart_block_remove_link:hover {
  color: #ff2553;
}
/* line 84, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold;
}
/* line 89, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px;
}

/* line 95, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_block_list .price {
  float: right;
}

/* page in my account ************************************************************************* */
/* line 101, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#mywishlist td.wishlist_delete a {
  font-size: 15px;
}

/* wishlistLinkTop */
/* line 108, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block;
}

/* line 112, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
}
/* line 115, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
  display: inline-block;
  color: #111111;
  margin: 10px 10px 10px 0px;
  font-weight: bold;
}
/* line 120, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
  color: #ff2553;
}

/* line 126, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left;
}

/* line 130, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right;
}

/* line 134, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none;
}

/* wlp_bought ****************************************** */
/* wlp_bought_list */
/* line 141, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/
}
/* line 143, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .product_image {
  margin: 0 0 20px 0;
  max-width: 270px;
}
/* line 147, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .product-name {
  margin: 0 0 10px 0;
  padding: 0 20px 0 0;
}
/* line 150, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .product-name small {
  display: block;
  font-size: 11px;
}
/* line 153, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .product-name small a {
  font-size: 11px;
}
/* line 158, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .product_infos {
  position: relative;
}
/* line 161, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .btn_action .btn {
  margin: 0 0 10px 0;
}
@media (min-width: 992px) {
  /* line 166, ../../../sass/modules/blockwishlist/blockwishlist.scss */
  ul.wlp_bought_list li.first-in-line {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 172, ../../../sass/modules/blockwishlist/blockwishlist.scss */
  ul.wlp_bought_list li.first-item-of-tablet-line {
    clear: left;
  }
}

/* line 178, ../../../sass/modules/blockwishlist/blockwishlist.scss */
.wishlistLinkTop .submit {
  margin: 0 0 30px 0;
}

/* line 182, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px;
}

/* line 190, ../../../sass/modules/blockwishlist/blockwishlist.scss */
#wishlist_button > .btn-group {
  width: 80%;
}

/* line 194, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover {
  padding: 0;
  min-width: 160px;
}
/* line 197, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover .popover-content {
  padding: 0;
  min-width: 158px;
}
/* line 201, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table {
  margin-bottom: 2px;
}
/* line 203, ../../../sass/modules/blockwishlist/blockwishlist.scss */
ul.product_list.grid > li .product-container .functional-buttons .wishlist .popover table td:hover {
  background-color: #cccccc;
  cursor: pointer;
}

/* line 211, ../../../sass/modules/blockwishlist/blockwishlist.scss */
[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
  padding: 0;
  min-width: 150px;
}
/* line 214, ../../../sass/modules/blockwishlist/blockwishlist.scss */
[id=wishlist_button] + .popover .popover-content,
.wishlist_change_button + .popover .popover-content {
  padding: 0;
}
/* line 217, ../../../sass/modules/blockwishlist/blockwishlist.scss */
[id=wishlist_button] + .popover table,
.wishlist_change_button + .popover table {
  margin-bottom: 2px;
}
/* line 219, ../../../sass/modules/blockwishlist/blockwishlist.scss */
[id=wishlist_button] + .popover table td:hover,
.wishlist_change_button + .popover table td:hover {
  background-color: #cccccc;
  cursor: pointer;
}
