/*
 * This software is provided "as is" without warranty of any kind.
 *
 * Made by PrestaCraft
 *
 * Visit my website (http://prestacraft.com) for future updates, new articles and other awesome modules.
 *
 * @author     PrestaCraft
 * @copyright  PrestaCraft
 */
 
.pc-social-icon {
    height:50px;
    font-size:30px;
    text-align:center;
    padding-top:10px;
}

.icon-behance:before{content:"\f1b4"}