/* line 5, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.socialsharing_product button {
  border: 1px solid #eaeaea;
  color: #666666;
  display: inline-block;
  float: left;
  margin: 2px 2px 10px;
  padding: 7px 15px 5px;
  text-transform: capitalize;
  width: auto;
}
/* line 15, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.socialsharing_product button.focus {
  background: none !important;
}
/* line 18, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.socialsharing_product button i {
  width: 22px;
}

/* line 27, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-facebook:hover, .btn-twitter:hover, .btn-google-plus:hover, .btn-pinterest:hover {
  border-color: white;
}

/* line 33, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-facebook i {
  color: #435f9f;
}
/* line 36, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-facebook:hover {
  color: white;
  background-color: #435f9f;
  border-color: #435f9f;
}
/* line 40, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-facebook:hover i {
  color: white;
}

/* line 47, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-twitter i {
  color: #00aaf0;
}
/* line 50, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-twitter:hover {
  color: white;
  background-color: #00aaf0;
  border-color: #00aaf0;
}
/* line 54, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-twitter:hover i {
  color: white;
}

/* line 61, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-google-plus i {
  color: #e04b34;
}
/* line 64, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-google-plus:hover {
  color: white;
  background-color: #e04b34;
  border-color: #e04b34;
}
/* line 68, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-google-plus:hover i {
  color: white;
}

/* line 75, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-pinterest i {
  color: #ce1f21;
}
/* line 78, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-pinterest:hover {
  color: white;
  background-color: #ce1f21;
  border-color: #ce1f21;
}
/* line 82, ../../../../sass/modules/socialsharing/css/socialsharing.scss */
.btn-pinterest:hover i {
  color: white;
}
